<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Nest-Prototype</title>
<link href="../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/bootstrap/js/bootstrap.min.js"></script>
 
<script type="text/javascript">
	
</script>
</head>
<body>
	<!--  navigation bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nest - Prototype</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button data-ng-hover="clickHandler()" type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
		</div>
	</nav>
	 
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to the N.E.S.T</h1>
			<p>This is the home page for providing excellent customer service to our
				eAgle Users. You will need to be logged in to be able to perform different
				operations that will handle issues in different eAgle functional areas such as:</p>
								<ul><li>Dispositions</li>
								<li>Tags</li>								
								<li>Canceling of Payment Plans and Scheduled Payments</li>
								<li>And a lot of other services currently being created...so stay tuned!!!</li>
								</ul>
			
		</div>
	</div>


</body>
</html>