 
<br>
<div class="container">
	<br>
	<h3>{{disp.text}}</h3>
	<div class="input-group well">
		<form data-ng-submit='disp.process()'>
			<input type="text" id="inputAccountId" class=" form-input"
				data-ng-model='disp.accountId' placeholder="Account Id" required autofocus maxlength="11" pattern="[0-9]{11}"> 
			
			<select class="form-input" data-ng-model="disp.selectedDisposition" 
				     data-ng-options="dispCode.code for dispCode in disp.dispCodes" 
				     data-ng-init="disp.selectedDisposition = disp.dispCodes[0]">
			</select>
				 
	    	<div class="radio well">
				<label><input type="radio" name="operation" data-ng-model='disp.operation' value="ADD">Add</label> 
				<label><input type="radio" name="operation" data-ng-model='disp.operation' value="REM">Remove</label>
			</div>		 
			<button class="btn btn-lg btn-primary btn-block"  type="submit">Process</button>
		</form>
	</div>  
</div>