<br>
<div class="container">
	<br>
	<h3>{{disp.text}}</h3>
	<div class="input-group">
		  <input
			type="text" id="inputAccountId" class="form-control"
			data-ng-model='disp.accountId' placeholder="Account Id"
			required autofocus> 
		  <input type="text" id="inputDisposition"
			class="form-control" data-ng-model='disp.dispositionCode'
			placeholder="Disposition" required>

		<button class="btn btn-lg btn-primary btn-block"
			data-ng-click='disp.process()' type="submit">Add</button>
	</div>
<!-- 	<div ng-repeat="postEntry in disp.postEntries">
		<div>Title: {{postEntry.title}}</div>
		<div>Body: {{postEntry.body}}</div>
	</div> -->
	
	<div>
		<p>{{disp.postEntries.id}}</p>
	</div>
	
</div>